@model IEnumerable<LPLMVC.Models.TeamDataModel>
@{

}

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <a href="#Details">
                <img class="d-block w-100" src="~/Images/Mirana.jpg" style="width:1000px; height:500px" alt="First slide">
                <div class="carousel-caption d-none d-md-block">
                    <h5 class="text-light">$5570 AUD Prize Pool</h5>
                    <p class="text-light">This year's second season of Dota 2 has a $5570 AUD prize pool.</p>
                </div>
            </a>
        </div>
        <div class="carousel-item">
            <a href="#About">
                <img class="d-block w-100" src="~/Images/Storm Spirit.jpg" style="width:1000px; height:500px" alt="Second slide">
                <div class="carousel-caption d-none d-md-block">
                    <h5 class="text-light">Open Division</h5>
                    <p class="text-light">Fight hard and you'll reap more rewards and gain recognition from professional teams.</p>
                </div>
            </a>
        </div>
        <div class="carousel-item">
            <a href="#Rules">
                <img class="d-block w-100" src="~/Images/Dota 2.jpg" style="width:1000px; height:500px" alt="Third slide">
                <div class="carousel-caption d-none d-md-block">
                    <h5 class="text-light">Rules</h5>
                    <p class="text-light">Make sure you and your team follows the tournament's rules. Failure to do so may result in disqualification.</p>
                </div>
            </a>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<br />
<div class="flex-sm-row-reverse card">
    <div class="card-body">
        <div id="About">
            <h3 class="text-dark"><b>2020 Season 2 LPL Dota 2 Tournament</b></h3>
            <p class="text-dark">
                LPL welcomes you and your school to participate in this year's Dota 2 Tournament. To enter the tournament you're required to register your account and add your team
                to the tournament. There will be a maximum of 20 teams so be sure to apply quickly. By competing in this tournament you and your team will have a chance of winning
                prizes and the team that achieves first place will continue to play against schools all across Australia for the chance to win $5570 AUD.
            </p>
            <br />
            <hr />
        </div>
        <div id="Details">
            <h3 class="text-dark"><b>Prizes:</b></h3>
            <p class="text-dark"></p>

            <h5><u>Amateur Division:</u></h5>
            <table class="table table-sm table-striped">
                <thead>
                    <tr>
                        <th scope="row">Place</th>
                        <td scope="col">1st</td>
                        <td scope="col">2nd</td>
                        <td scope="col">3rd</td>
                        <td scope="col">4th</td>
                        <td scope="col">5th</td>
                        <td scope="col">6th</td>
                        <td scope="col">7th</td>
                        <td scope="col">8th</td>
                        <td scope="col">Total</td>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Prize</th>
                        <td>$300</td>
                        <td>$250</td>
                        <td>$200</td>
                        <td>$200</td>
                        <td>$150</td>
                        <td>$150</td>
                        <td>$150</td>
                        <td>$150</td>
                        <td>$1550</td>
                    </tr>
                </tbody>
            </table>
            <br />

            <h5><u>Pro Division:</u></h5>
            <table class="table table-sm table-striped">
                <thead>
                    <tr>
                        <th scope="row">Place</th>
                        <td scope="col">1st</td>
                        <td scope="col">2nd</td>
                        <td scope="col">3rd</td>
                        <td scope="col">4th</td>
                        <td scope="col">5th</td>
                        <td scope="col">6th</td>
                        <td scope="col">7th</td>
                        <td scope="col">8th</td>
                        <td scope="col">Total</td>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Prize</th>
                        <td>$1000</td>
                        <td>$700</td>
                        <td>$500</td>
                        <td>$500</td>
                        <td>$300</td>
                        <td>$300</td>
                        <td>$300</td>
                        <td>$300</td>
                        <td>$3900</td>
                    </tr>
                </tbody>
            </table>
            <br />
            <hr />

            <h3><b>Tournament Details:</b></h3>

            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.SchoolName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Wins)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Games)
                        </th>
                        <th>
                            <a asp-action="Create" class="btn btn-primary text-light">Create New</a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.SchoolName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Wins)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Games)
                            </td>
                            <td>
                                @if (User.IsInRole("User, Admin"))
                                {
                                    <a asp-action="Edit" asp-route-id="@item.TeamId">Edit  |</a>
                                }
                                else if (User.IsInRole("Admin"))
                                {
                                    <a asp-action="Delete" asp-route-id="@item.TeamId">Delete  |</a>
                                }

                                <a asp-action="Details" asp-route-id="@item.TeamId">Details</a>




                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            <div class="container text-center align-content-center" style="width:500px">
                <a asp-action="Index" asp-controller="Team" class="btn btn-primary text-light">View Teams</a>
            </div>
        </div>
    </div>
</div>
<br />









